# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# iOS (even if not used yet)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

